/* 4 - external */
body{
    padding-bottom: 500px;
}
h2 {
    color:black;
}

p{
    color:blueviolet;
}

/* algum comentario */
/*outro comentario */
/* terceiro comentario */

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;

}

/* ordem das regras */
h2{
    border-bottom: 2px solid
}

.titulo {
    border-bottom: 3px solid blue;
}
