/* 4 - external */
body {
  padding-bottom: 500px;
}

h2 {
  color: black;
}

/* p{
    color:blueviolet;
} */

/* algum comentario */
/*outro comentario */
/* terceiro comentario */

/* classes */
.paragraph {
  background: #000;
  color: aqua;
  padding: 5px;
}

/* ids */
#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-size: 40px;
}

/* ordem das regras */
h3 {
  border-bottom: 2px solid red;
}

.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* nome de cores */
.color-name {
  color: crimson;
}

/* hex */
.hex {
  color: #55a398;
}

.hex2 {
  color: #ffbf00;
}

/* aprofundando em hex */
.simple-hex {
  color: #3666;
}

.simple-hex2 {
  color: #aa55fa;
}

/* rgb */
.rgb {
  color: rgb(233, 0, 5);
}

.rgb2 {
  color: rgb(185, 9, 36);
}

/* rgba */
.rgba {
  color: rgba(200, 190, 0.3);
}

/* HSL */
.hsl {
  color: hsl(100, 20%, 50%);
}

.hsl2 {
  color: hsl(201, 44%, 69%);
}

/* background */
.bg {
  background-color: #000;
  color: yellow;
}

.bg2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* background opacity */
.bg-opacity {
  background-color: green;
  opacity: 0.2;
}

.bg-opacity2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
}

/* rgba com opacidade */
.rgba-opacity {
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
}

/* bg image */
.bg-image {
  background-image: url("../img/floresta.jpg");
  padding: 10px;
  color: #fff;
}

/* centralizando o bg da img */
.not-centered,
.centered {
  height: 400px;
  width: 400px;
  background-image: url(../img/ponte.jpg);
}

.centered {
  background-position: center;
  background-size: cover;
}

/* largura e altura */
.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}

.height-width2 {
  height: 300px;
  background-color: #333;
}

/* padding */
.without-padding {
  background-color: #111;
  color: #fff;
}

.padding {
  background-color: #333;
  padding: 20px;
}

/* padding individual */
.padding-individual {
  background-color: #222;
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}

/* short hand padding */
.shorthand-padding {
  background-color: #444;
  padding: 6px 12px 18px 24px;
}

.shorthand-padding {
  background-color: #555;
  padding: 10px 20px;
  /* padding 10px 20px 10px 20px*/
}

/* padding com width */
.without-border-box {
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
}

.border-box {
  background-color: #666;
  color: #fff;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}

/* border */
.border {
  border: 5px solid red;
  padding: 10px;
}

.border2 {
  border: 2px dotted #932;
  padding: 25px;
}

/* borda individual */
.border-left {
  border-left: 3px solid red;
  background-color: #222;
  padding: 25px;
}

.border-bottom {
  border-bottom: 5px double #399;
  background-color: #222;
  padding: 20px;
}

/* borda arredondada */
.rounded-p {
  border: 4px solid blue;
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 15px;
}

.rounded-p2 {
  background-color: #000;
  color: blue;
  padding: 15px;
  border-radius: 25px;
}

/* margem */
.margin {
  margin: 10px;
  background-color: #222;
}

.margin-top {
  margin-top: 50px;
  background-color: #444;
  padding: 10px;
}

.margin-shorthand {
  background-color: #666;
  margin: 5px 10px 15px 200px;
}

/* box model */
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #845;
  border-radius: 7px;
  width: 200px;
  height: 100px;
}

/* text align */
.text-alignment {
  text-align: right;
}

.container-center {
  text-align: center;
  width: 300px;
  border: 1px solid red;
}

/* text decoration */
.underline {
  text-decoration: underline;
}

.line-trough {
  text-decoration: line-through;
}

.remove-underline {
  text-decoration: none;
  color: red;
}

/* text transform */
.upper {
  text-transform: uppercase;
}

.lowcase {
  text-transform: lowercase;
}

/* letter spacing */
.spacing {
  letter-spacing: 5px;
}

/* fontes */
.serif {
  font-family: Georgia;
}

.sans-serif {
  font-family: Helvetica;
}

.monospace {
  font-family: Courier New;
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

/* text style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* font weight */
.thin,
.bold,
.bolder {
  font-family: Helvetica;
}

.thin {
  font-weight: 100;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

/* font size */
.small {
  font-size: 6px;
}

.big {
  font-size: 78px;
}

/* display */
.inline-box {
  width: 50px;
  height: 58px;
  background-color: #4f8;
  margin: 10px;
  display: inline-block;
}

.block {
  background-color: #333;
  display: block;
  margin: 10px;
}

/* escondendo elementos */
.invisible {
  display: none;
}

/* static */
.static {
  position: static;
  background-color: #391;
  color: #fff;
  width: 100px;
  height: 100px;
}

/* relative */
.relative {
  position: relative;
  background-color: #224;
  color: #fff;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 100px;
}

/* absolute */
.absolute {
  position: absolute;
  background-color: #964;
  color: #fff;
  width: 100px;
  height: 100px;
  top: 2px;
  right: 2px;
}

/* absolute e relative */
.relative-container {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin-top: 120px;
  position: relative;
}

.absolute-1,
.absolute-2 {
  width: 50px;
  height: 50px;
  background-color: #422;
  position: absolute;
}

.absolute-1 {
  top: 10px;
  left: 10px;
}

.absolute-2 {
  bottom: 10px;
  right: 10px;
}

/* fixed */
.fixed {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  position: fixed;
  top: 50px;
  right: 50px;
}

/* sticky */
.sticky {
  width: 100px;
  height: 100px;
  background-color: #994;
  border: 1px solid green;
  position: sticky;
  top: 50px;
  right: 50px;
}

/* z index */
.absolute-3,
.absolute-4,
.absolute-5 {
  width: 50px;
  height: 50px;
  background-color: #124;
  position: absolute;
}

.absolute-3 {
  top: 0;
  left: 0;
  z-index: 3;
}

.absolute-4 {
  top: 10px;
  left: 10px;
  background-color: #240;
  z-index: 20;
}

.absolute-5 {
  top: 40px;
  left: 40px;
  background-color: #453;
  z-index: 1;
}
